.slider {
    position:static;
    margin-left: 33.3%;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: perspective(1000px) rotateY(0deg);
    }
    100% {
      transform: perspective(1000px) rotateY(360deg);
    }
  }
  
  .slider span {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 50%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(250px);
  }
  
  .slider span img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s; /* Changed transition property to "transform" */
  }
  
  .slider span:hover img {
    transform: translateY(-45px) scale(1);
  }
  

  